.container{
    fieldset{
        border-radius: .5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        display: flex;
        // width: 80%;
        justify-content: center;
        .technologies {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                width: 80%;
                padding: 1rem;
                gap: 1rem;
                border-radius: .5rem;
        
                .techImage {
                    width: 4rem;
                    transition: all 1s ease;
        
                    &:hover {
                        scale: 1.1;
                        cursor: pointer;
                    }
        
                    // height: 5rem;
                }
            }
    }
    .title{
        font-weight: 600;
    }
    
}