.container{
    .notactive{
        color: (var(--color-light));
    }
    .showleft{
        animation: showleft 1.5s ease-in forwards;
    }
    .showright{
        animation: showright 1.5s ease-in forwards;
    }
    .showlefts{
        animation: showlefts 1.5s ease-in forwards;
    }
    .showrights{
        animation: showrights 1.5s ease-in forwards;
    }
    .titles{
        display: flex;
        gap: 1rem;
        margin-bottom: .7rem;
        .title{
            display: flex;
            align-items: center;
            gap: .3rem;
            transition: all 1s ease;
            &:hover{
                color:var(--color-light);
                cursor: pointer;
                scale: 1.01;
            }
        }
    }
    .navmenu{
        margin-bottom: 5rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        position: relative;
        .modules{
            text-align: left;
            .showAll{
                &:hover{
                    color: var(--color-white);
                }
            }
        }
        .child1,.child3,.child5{
            position: relative;
            padding-left: 1rem;
            padding-right: 1rem;
            &:hover{
                cursor: pointer;
            }
            &::after{
                // content: '';
                content: '';
                    position: absolute;
                    height: 100%;
                    width: .2rem;
                    background-color: var(--color-primary);
                    left: 0;
                    top: 0;
                    z-index: -1;
            }
            &::before{
                content: '';
                position: absolute;
                background-color: var(--color-bg);
                height: .6rem;
                width: .6rem;
                left: -.4rem;
                top: 38%;
                border-radius: 5rem;
                border: 5px solid var(--color-primary);
            }
        }
        .child1s,.child3s,.child5s{
            position: relative;
            padding-left: 1rem;
            padding-right: 1rem;
            &:hover{
                cursor: pointer;
            }
            &::after{
                content: '';
                position: absolute;
                height: 100%;
                width: .2rem;
                background-color: var(--color-primary);
                left: 0;
                top: 0;
                z-index: -1;
            }
            &::before{
                content: '';
                position: absolute;
                background-color: var(--color-bg);
                height: .6rem;
                width: .6rem;
                left: -.4rem;
                top: 38%;
                border-radius: 5rem;
                border: 5px solid var(--color-primary);
            }
        }
        .child2,.child4{
            position: relative;
            padding-left: 1rem;
            padding-right: 1rem;
            &:hover {
                cursor: pointer;
                }
            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: .2rem;
                background-color: var(--color-primary);
                right: -.2rem;
                top: 0;
                z-index: -1;
            }
            &::before{
                content: '';
                position: absolute;
                background-color: var(--color-bg);
                height: .6rem;
                width: .6rem;
                right: -.6rem;
                top: 38%;
                border-radius: 5rem;
                border: 5px solid var(--color-primary);
            }}
        .child2s,.child4s{
            position: relative;
            padding-left: 1rem;
            padding-right: 1rem;
            &:hover {
                    cursor: pointer;
                }
            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: .2rem;
                background-color: var(--color-primary);
                right: -.2rem;
                top: 0;
                z-index: -1;
            }
            &::before{
                content: '';
                position: absolute;
                background-color: var(--color-bg);
                height: .6rem;
                width: .6rem;
                right: -.6rem;
                top: 38%;
                border-radius: 5rem;
                border: 5px solid var(--color-primary);
            }}
        .child1{
            grid-column-start: 2;
        }
        .child3{
            grid-column-start: 2;
            grid-row-start: 3;
        }
        .child4{
            grid-row-start: 5;
        }
        .child1s{
            grid-column-start: 2;
        }
        .child3s{
            grid-column-start: 2;
            grid-row-start: 3;
        }
        .child4s{
            grid-row-start: 5;
        }
        .child5s{
            grid-column-start: 2;
            grid-row-start: 6;
        }
    }}
@keyframes showleft{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}
@keyframes showlefts{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}
@keyframes showright{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}
@keyframes showrights{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}
